<!-- Login Page -->

<div class="loginHead">
  <h1> User Login </h1>
</div>

<h1 id="warning"></h1> 

<div class="loginContainer animated fadeIn">
  <form id="login-form" class="form-horizontal">
        <header> <h3> Login </h3></header>
        <fieldset>
          <div id="email_group" class="control-group">
            <label class="control-label" >Username or Email</label>
            <div class="controls">
              <input id="username-or-email" name="username-or-email" required="required" />
            </div>
          </div>
          <div id="password_group" class="control-group">
            <label class="control-label" for="password">Password</label>
            <div class="controls">
              <input id="password" name="password" type="password" required="required" />
            </div>
          </div>
          <div class="form-actions">
          </div>
        </fieldset>
  </form>

  <button value="login" class="login-submit"> Login </button>

  <div class="create"> Create an Account </div>

</div>