<!-- Signup Page -->

<div class="signupHead">
  <h1> User Signup </h1>
</div>

<div class="signupContainer animated fadeIn">
  <div id="signup-form">
  <form  class="form-horizontal">
    <header> <h3> Register </h3></header>
    <fieldset>
      <br>
      <div id="name-group" class="control-group">
        <label class="control-label" for="login_name">Name</label>
        <div class="controls">
          <input id="name" name="name" type="name" required="required" />
        </div>
      </div>
      <div id="username-group" class="control-group">
        <label class="control-label" for="login_username">Username</label>
        <div class="controls">
          <input id="username" name="username" type="username" required="required" />
        </div>
      </div>
      <div id="email_group" class="control-group">
        <label class="control-label" for="login_user_email">Email</label>
        <div class="controls">
          <input id="email" name="email" type="email" required="required" />
        </div>
      </div>
      <div id="password_group" class="control-group">
        <label class="control-label" for="login_user_password">Password</label>
        <div class="controls">
          <input id="password" name="password" type="password" required="required" />
          <p id="password-error" class="password-error"> Your password must be at least 8 characters</p>
        </div>
      </div>
      <div id="password_confirmation_group" class="control-group">
        <label class="control-label" for="login_user_password_confirmation">Confirm Password</label>
        <div class="controls">
          <input id="password_confirmation" name="password_confirmation" type="password" required="required" />
          <p id="password-confirmation-error" class="password-error">Passwords do not match</p>
        </div>
      </div>

    </fieldset>
  </form>

      <div class="form-actions">
        <button type="submit" id="signup" value="Sign up" class="btn btn-primary"> Sign Up </button>
      </div>
  </div>

</div>