<!-- <p id="notice"><%= notice %></p> -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<!-- Todo: Move to css file -->
<style>
  body {
    background-color: #F4F4F4;
    padding: 0px;
    margin: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 120%;
  }

  #logo {
    width: 200px;
    height: 80px;
    margin-left: 20px;
    margin-top: 20px;
    float: left;
  }
  
  .menuSelection {
    list-style-type: none;
    padding: 0;
    width: 100%;
    margin-bottom: 0;


  }

  .sidebar {
    width: 15%;
    height: 100%;
    float: left;
    position: fixed;
    top: 100px;
    left: 0;
    background-color: #0b102d;
  }

  .menuSelection li{
    margin: 10px;
    margin-top: 25px;
    margin-left: 30px;
  }

  .menuSelection li a {
    color: white;
    font-size: 25px;
    font-family: 'Open Sans Condensed', sans-serif;
    text-decoration: none;
    color: #F4F4F4;

  }

  .menuSelection li a:hover {
    text-decoration: underline;
    background-color: #0b102d;
  }

  .top-bar {
    width: 15%;
    position: fixed;
    background-color: #0b102d;
    height: 100px;
    top: 0;
    left: 0;
  }

  .nav-bar-divider {
    width: 100%;
    height: 1px;
    background-color: #fbfbfb;
  }

  footer {
    position: absolute;
    bottom: 0;
    height: 50px;
    background-color: #0b102d;
    width: 100%;
    color: white;
    font-size: 20px;
    text-align: center;
  }

  footer h3 {
    margin: 0;
    margin-top: 20px;
    font-weight: normal;
  }
</style>

<div class="top-bar">
  <img id="logo" src="/tempologo.png" />
</div>


<div class="sidebar">
  <ul class="menuSelection"> 
    <li><a href="/tempo#home"> Home </a></li>
    <div class="nav-bar-divider"> </div>
    <li><a href="/tempo#customActivities"> Custom Activities</a></li>
    <div class="nav-bar-divider"> </div>
    <li><a href="/tempo#settings"> Settings</a></li>
        <div class="nav-bar-divider"> </div>
    <div id="logout-button">
      <li><a href="/tempo#logout"> Logout</a></li>
      <div class="nav-bar-divider"> </div>
    </div>


  </ul>
</div>

<div class="testDiv">
  <div id="time-options-container"></div>
</div>

<div class='createCustomActivity'> </div>
<br>

<footer> 
  <h3>Tempo © 2016</h3>
</footer>
