
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

<div class="sidebar">
  <div class="top-bar">
    <img id="logo" src="/tempologo.png" />
  </div>  
  <ul class="menuSelection"> 
    <li><a href="/tempo#home"> Home </a></li>
    <div class="nav-bar-divider"> </div>
    <li><a href="/tempo#customActivities"> Custom Activities</a></li>
    <div class="nav-bar-divider"> </div>
    <li><a href="/tempo#settings"> Settings</a></li>
        <div class="nav-bar-divider"> </div>
    <div id="logout-button">
      <li><a href="/tempo#logout"> Logout</a></li>
      <div class="nav-bar-divider"> </div>
    </div>


  </ul>
</div>


<div class="testDiv">
  <div id="time-options-container"></div>
</div>

<div class='createCustomActivity'> </div>
<br>

<footer class='mainFooter'> 
  <h3>Tempo © 2016</h3>
</footer>
