<p id="notice"><%= notice %></p>

<!-- Todo: Move to css file -->
<style>
  .menuSelection {
    list-style-type: none;
  }

  .menuSelection li{
    display: inline;
    margin: 10px;
  }
</style>


<h1>Listing Activities or Interests</h1>
<ul class="menuSelection"> 
  <li><a href="/tempo#home"> Home </a></li>
  <li><a href="/tempo#activities"> Activities </a></li>
  <li><a href="/tempo#interests"> Interests </a></li>
  <li><a href="/tempo#users"> Users </a></li>
</ul>

<div class="testDiv">
  <div id="time-options-container"></div>
</div>



<br>
