<p id="notice"><%= notice %></p>

<!-- Todo: Move to css file -->
<style>
  body {
    background-color: #f3f3f3;
  }
  
  .menuSelection {
    list-style-type: none;
  }

  .menuSelection li{
    display: inline;
    margin: 10px;
  }
</style>


<h1>Sidebar</h1>
<ul class="menuSelection"> 
  <li><a href="/tempo#home"> Home </a></li>
  <li><a href="/tempo#customActivities"> Custom Activities</a></li>
  <li><a href="/tempo#settings"> Settings</a></li>
</ul>

<div class="testDiv">
  <div id="time-options-container"></div>
</div>

<div class='createCustomActivity'> </div>


<br>
