
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Nunito:400,300,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700&subset=latin,latin-ext'>
<div class="sidebar">
  <div class="top-bar">
    <img id="logo" src="/tempologo.png" />
  </div>  
  <ul class="menuSelection"> 
    <a id="homeView" href="/tempo#home"> <li>Home</li></a>
    <div class="nav-bar-divider"> </div>
    <a id="customActivitiesView" href="/tempo#customActivities"><li>Custom Activities</li></a>
    <div class="nav-bar-divider"> </div>
    <a id="historyView" href="/tempo#history"><li>History</li></a>
    <div class="nav-bar-divider"> </div>
    <a id="settingsView" href="/tempo#settings"><li>Settings</li></a>
        <div class="nav-bar-divider"> </div>
    <div id="logout-button">
      <a href="/tempo#logout"> <li>Logout</li></a>
      <div class="nav-bar-divider"> </div>
    </div>


  </ul>
</div>


<div class="testDiv">
  <div id="time-options-container"></div>
</div>

<div class='createCustomActivity'> </div>
<br>

<footer id="footer"> 
  <h3>Tempo © 2016</h3>
</footer>
