// Place all the styles related to the custom_activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*Custom Activity Module*/

$redHot: #b51c1c;
$redLite: #ebccd1;
$dangerRed: #891515;

  .custActContainer {
    width: 675px;
    height: 400px;
    position: relative;
    margin: 0 auto;
    margin-top: 100px;
    background-color: white;
    border: 1px solid #f5f5f5;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px; 
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;       

    header {
      height: 10%;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      border-top: 4px solid $redHot;
      border-bottom: 1px solid $redLite;
      background-color: #f3f5f6;
      background-color: white;

      h3 {
        margin: 0;
        margin-top: 5px;
        text-align: center;
        font-weight: bold;
        color: #c7254e;
      }
    }

    section {
      position: relative;
      width: 100%;
      height: 312px;
      overflow: scroll;

      .tableContainer {
        position: relative;
        width: 90%;
        height: 90%;
        margin: 0 auto;
        margin-top: 15px;
        overflow: scroll;

        #custActTable {
          position: relative;
          border-radius: 3px;
          margin: 0 auto;
          width: 100%;
          top: 7%;

          thead tr th {
            font-size: 19px;
            font-weight: bold;
          }

          tbody tr td {
            font-family: 'Lato', sans-serif;
            font-weight: 400;
            font-size: 16px;
          }

          .del-btn {
            color: white;
            background-color: #e74c3c;
            border: 1px solid #e74c3c;
            border-radius: 55px;
          }

          .del-btn:hover {
            cursor: pointer;
            opacity: .8;
          }        
        }
      }
    }

    footer {
      background-color: white;
      border-bottom: 3px solid $redHot;
      border-bottom-right-radius: 2px;
      border-bottom-left-radius: 2px;
      border-top: 1px solid $redLite;
      height: 13%;

      /*Red button color scheme*/
      #add {
          text-align: center;
          position: relative;
          width: 200px;
          height: 30px;
          display: block;
          margin: 0 auto;
          margin-top: 9px;
          box-shadow: .5px .5px .5px #888888;   
          border: 1px solid $dangerRed;
          border-radius: 5px; 
          font-size: 16px;  
          background-color: $dangerRed;
          color: white;
      }

      #add:hover {
          opacity: .8;  
          cursor: pointer;
          text-decoration: none;
      }   
    }
  }



  /*Create custom custom_activities form */
    #custom-activities-form {
    position: relative;
    top: 100px;   
    width: 350px;
    height: 550px;
    border: 1px solid #dedede;
    border-radius: 3px;
    background-color: white;
    box-shadow: .5px .5px .5px #888888;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
    padding-bottom: 20px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
  }

  #custom-activities-form header {
    height: 15%;
    border-top: 3px solid rgb(31, 137, 229);
    border-bottom: 1px solid rgb(40, 181, 246);
    padding: 8px;
  }

  #custom-activities-form header h3 {
    margin: 0;
    color: rgb(40, 68, 92);
  } 

  #custom-activities-form section {
    padding: 30px;
    float: left;
    width: 100%;
  }

  #custom-activities-form label {
    float: left;
    margin-bottom: 5px;
    font-size: 16px;
  }

  #custom-activities-form input {
    float: left;
    margin-bottom: 5px;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid silver;
  }


  .submitCustomActivity {
    width: 100%;
  /*  background-image: linear-gradient(rgb(31, 137, 229) 0%, rgb(31, 137, 229) 100%);*/
    border-radius: 25px;
    margin-top: 20px;
    position: relative;
    bottom: 0;
  }

  .submitCustomActivity:hover {
    opacity: .8;
    cursor: pointer;
  } 
