// Place all the styles related to the Interests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$containerHeaderColor: rgb(31, 137, 229);

  .interest-wrapper {
	width: 600px;
	margin: 0 auto;
	text-align: center;
	position: relative;
	top: 55%;
	margin-top: 50px;    
  }

  .interest-wrapper  h4 {
  	text-align: center;
	margin: 0;
	font-size: 22px;
	color: black;
	margin-bottom: 10px;
}

  .interest-wrapper ul {
  	overflow: scroll;
  }

  .interest-wrapper li {
  	margin-top: 10px;
  }

  .interest-wrapper input {
  	float: left;
  	margin-right: 75px !important;
  }

  .interest-wrapper li {
  	text-align: left;
  	width: 50%;
	float: left;
	list-style-type: none;
	font-size: 12px
}

  .interest-wrapper p {
	font-size: 16px
}


@media (max-width: 800px) {
  .home-wrapper {
  	width: 300px; 
  	height: 1200px;
  }

  .interest-wrapper li {
  	width: 100%;
  }

  .interest-wrapper {
  	width: 300px;
  }
}

