
.page-header {
	text-align: center;
}

.settingsHead {
	width: 100%;
    height: 100px;
    margin-top: -13px;
    /*background-image: radial-gradient(50% 50%, rgb(255, 120, 10), rgb(189, 85, 0));*/
    background-color: rgb(255, 255, 255);
    /*background-color: #ecf0f1;*/
  	padding: 30px;
    border-bottom: 1px solid #cbdcde;

  	h1 {
  		text-align: center;
  		/*color: white;*/
        margin: 0;
        color: rgb(40, 68, 92);
  	}
}

.settingsContainer {
	display: inline-block;
	position: relative;
	height: 700px;
	width: 100%;
	margin-top: 20px;
	text-align: center;

	#avatar {
		width: 200px;
		height: 200px;
		border: 2px solid white;
		border-radius: 50px;
	}

	.settingInterestsTable { 
		border: 1px solid green;
		width: 450px;
		height: 400px;
		max-height: 600px;
		border: 1px solid #dedede;
		border-radius: 3px;
		background-color: white;
		box-shadow: .5px .5px .5px #888888;
		margin: 0 auto;
		text-align: center;
		position: relative;
		float: left;
		top: 20px;
		margin-top: 50px;
	}	

}

.settingsCol1 {
	position: relative;
	left: 0;
	width: 49%;
	height: 100%;
	float: left;
}

.settingsCol2 {
	position: relative;
	right: 0;
	width: 49%;
	height: 100%;
	float: right;
	/*border: 1px solid yellow;*/
}	


/*Old code ^*/


.settingsModule {
    position: relative;
    top: 100px;   
    width: 350px;
    height: 375px;
    border: 1px solid #dedede;
    border-radius: 3px;
    background-color: white;
    box-shadow: .5px .5px .5px #888888;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.settingsModule header {
    height: 15%;
    border-top: 3px solid #b51c1c;
    border-bottom: 1px solid #b51c1c;
    padding: 8px;	
}

.settingsModule header h3 {
	position: relative;
	margin: 0;
}

.settingsModule section {
    padding: 20px;
    float: left;
    width: 100%;	
}

.settingsModule section p {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
    float: left;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 16px;	
}

  .settingsModule input {
    float: left;
    margin-bottom: 10px;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid silver;
  }

.settingsModule footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 13%;
	background: white;

}
a {
	text-decoration: none;
}

a:hover {
	background-color: white;
	color: black;
	font-size: 110%;
}

.settingsModule input:hover {
	background-color: #E4F1FE ;
	border: 1px solid #DDD;
}

.settingsModule button {
    width: 90%;
    border-radius: 5px;
    /*margin-top: -10px;*/
    position: relative;
    bottom: 0;
}

.settingsModule button:hover {
	opacity: .8;
	cursor: pointer;
}


/*Interests in settings page*/
.settingInterests { 
    position: relative;
    top: 100px;   
    width: 350px;
    height: 375px;
    border: 1px solid #dedede;
    border-radius: 3px;
    background-color: white;
    box-shadow: .5px .5px .5px #888888;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;

	.settingsTable {
		width: 100%;
		position: relative;
	}

	#interestCheck {
		float: right;
	}

	footer {
		position: absolute;
		bottom: 0;
		padding: 20px;
		height: 15%;
		width: 100%;
	}
}


.settingInterests header {
    height: 15%;
    border-top: 3px solid rgb(31, 137, 229);
    border-bottom: 1px solid rgb(40, 181, 246);
    padding: 8px;	
}

.settingInterests header h3 {
	position: relative;
	padding: 5px;
	margin: 0;
	font-size: 23px;
	color: rgb(40, 181, 246);
}

.settingInterests .settingInterestTable {
	position: absolute;
	width: 100%;
	text-align: center;
	height: 45%;
	margin-top: 30px;
	border-collapse: separate; 
	border-spacing: .5em;
	overflow: scroll;
}

.settingInterests .settingInterestTable tbody {
	overflow: scroll;
}

.settingInterests td {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 20px;
}

.settingInterests td input {
	float: left;
	margin-left: 75px;
}

.settingInterests tbody {
	margin-bottom: 20px;
}

.settingInterests footer {
	margin-top: 20px;
	background-color: white;
	padding: 15px;
}

.settingInterests #submit-interests {
    width: 100%;
    border-radius: 5px;
    position: relative;
    /*bottom: 0;	*/
    bottom: 7px;
}

.settingInterests #submit-interests:hover {
	opacity: .8;
	cursor: pointer;
}

.password-error {
	color: red;
	font-size: 10px;
	margin-bottom: 5px !important;
	margin-top: -5px !important;
	visibility: hidden;
}

#old-password {
	margin-bottom: 10px;
}
#new-password-error {
	margin: 0;
}

#new-password {
	margin: 0;
}

button:active, button:focus {
	outline: none !important;
}



@media (max-width: 875px) {
  body {
    background-color: black;
    background: black; 
  }

  .settingsCol1 {
    width: 100%;
    display: block;
    float: none;
    height: 70%;
  }

  .settingsCol2 {
    width: 100%;
    height: 70%;
    display: block;
    float: none;
    margin-bottom: 70px;

  }
}
