/*// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*/ /*Login */

$signupFontColor: #c07130;
$orangeBorder: #f06c00;
$orangeButton: #e65000;

  .loginHead {
    width: 100%;
    height: 150px;
    margin-top: -13px;
    background-image: radial-gradient(50% 50%, #3695e7, #166ebb);
  	padding: 30px;

  	h1 {
  		text-align: center;
  		color: white;
  	}
  }


  .loginContainer {

	  #login-form {
	    width: 350px;
	    height: 315px;
	    border: 1px solid #dedede;
	    border-radius: 3px;
	    background-color: white;
	    box-shadow: .5px .5px .5px #888888;
	    margin: 0 auto;
	    text-align: center;
	    padding-top: 20px;
	    padding-bottom: 20px;
	    font-size: 15px;
	    margin-top: 30px;
	    position: relative;
	  }

	  #login-form header {
	    position: absolute;
	    top: 0;
	    width: 100%;
	    height: 13%;
	    border-bottom: 1px solid #DDD;
	    background: #F4F4F2;
	    border-top: 2px solid #166ebb;
	  }

	  /*border-color: #166ebb #166ebb #0e4677;*/
	  #login-form header h3 {
	    margin-top: 6px;
	    font-weight: italic;
	  }

	  input {
	    width: 300px;
	    height: 30px;
	    margin-bottom: 15px;
	    margin-top: 10px;
	  }

	  input:hover {
	    background-color: #E4F1FE;
	    border: 1px solid #DDD;
	  }

	  label {
	    margin-bottom: 10px;
	  }

	  fieldset {
	    border: none;
	    position: relative;
	    top: 25px;
	  }

	  #warning {
	  color: red;
	  text-align: center;
	  }

	  button {
	    width: 300px;
	    height: 35px;
	    display: block;
	    position: relative;
	    top: -90px;
	    margin: 0 auto;
	    margin-bottom: 15px;
	    /*background-color: #66CC99;*/
	    background-color: #1f89e5; 
	    /*border: 1px solid #D35C48;*/
	    border-color: #1f89e5 #1f89e5 #1361a4;
	    border-radius: 5px;
	    color: white;
	    font-size: 15px;

	  }

	  button:hover {
	    opacity: .8;
	    cursor: pointer;
	  }

	  .create {
	    width: 315px;
	    height: 35px;
	    display: block;
	    position: relative;
	    top: -90px;
	    margin: 0 auto;
	    text-align: center;
	    color: #1f89e5;

	  }

	  .create:hover {
	    opacity: .6;
	    cursor: pointer;
	  }
  }





  /*Signup Styling*/


  .signupHead {
    width: 100%;
    height: 150px;
    margin-top: -13px;
	background-color: rgb(240, 108, 0);
	background-image: radial-gradient(50% 50%, rgb(255, 120, 10), rgb(189, 85, 0));
  	padding: 30px;

  	h1 {
  		text-align: center;
  		color: white;
  	}
  }

  .signupContainer {

	    #signup-form {
		    width: 350px;
		    height: 445px;
		    border: 1px solid #dedede;
		    border-radius: 3px;
		    background-color: white;
		    box-shadow: .5px .5px .5px #888888;
		    margin: 0 auto;
		    text-align: center;
		    padding-top: 20px;
		    padding-bottom: 20px;
		    font-size: 15px;
		    margin-top: 30px;
		    position: relative;		    
		  }

	 #signup-form header {
	    position: absolute;
	    top: 0;
	    width: 100%;
	    height: 35px;
	    border-bottom: 1px solid #DDD;
	    background: #F4F4F2;
	    border-top: 2px solid $orangeBorder;
	  }  

	  #signup-form header h3 {
	    margin-top: 5px;
	    font-weight: italic;
	  }

	  #signup-form input {
	    width: 300px;
	    height: 20px;
	    margin-bottom: 15px;
	  }

	  #signup-form input:hover {
	    background-color: #E4F1FE;
	    border: 1px solid #DDD;
	  }  

	  #signup-form label {
	    margin-bottom: 5px;
	  }

	  #signup-form fieldset {
	    border: none;
	  } 

	  #submit-interests {
	    width: 300px;
	    height: 35px;
	    display: block;
	    margin: 0 auto;
	    margin-top: 3px;
	    margin-bottom: 10px;
	    /*background-color: $orangeButton;*/
	    background-image: linear-gradient(rgb(189, 85, 0) 0%, rgb(189, 85, 0) 100%);
	    border: 1px solid $orangeBorder;
	    border-radius: 3px;
	    color: #EEEEEE;
	  }

	  #submit-interests:hover {
	    opacity: .8;
	    cursor: pointer;
	  }

	  #signup {
	    margin: 0 auto;
	  }

}


