<p id="notice"><%= notice %></p>

<!-- Todo: Move to css file -->
<style>
  .menuSelection {
    list-style-type: none;
  }

  .menuSelection li{
    display: inline;
    margin: 10px;
  }
</style>


<h1>Listing Activities or Interests</h1>
<ul class="menuSelection"> 
  <li><a href="/activities#home"> Home </a></li>
  <li><a href="/activities#activities"> Activities </a></li>
  <li><a href="/activities#interests"> Interests </a></li>
  <li><a href="/activities#users"> Users </a></li>
</ul>
<span>
<form>
  username:<br>
  <input type="text" name="username" id="username-login">
  <br>
  password:<br>
  <input type="password" name="password" id="password-login">
  <button id="login-submit"> login </button>
</form>

</span>
<div class="testDiv">
  <div id="time-options-container"></div>
</div>



<br>
