<div class="activity">
	<h3><%= title %></h3>
	<div id="likes">Likes: <div id="like-count"><%= likes %></div></div>
	<button class='like-btn'>Like</button>
	<button class='dislike-btn'>Dislike</button><br>
	<p><%= content %></p>
	<a href='<%= link %>'> Link </a><br>
	<a href='tempo#activities'> Back </a>
</div>