<!-- Temporary styling -->
<!-- TODO: move this away -->

<style>

</style>
<div class="jumbotron activity">

<form id="custom-activities-form" name="custom-activity"> 
	<header id="head">
		<h3> Create New Custom Activity  </h3>
	</header>
	<section> 
		<label for="title"> Title: </label> <br> 
		<input type="text" name"title" id="title" value=""> <br> 
		<label for="content"> Content: </label> <br> 
		<input type="text" name"content" id="content" value=""> <br> 
		<label for="completion_time"> Completion time: </label> <br> 
		<section> 
			<input class="knob" data-width="100" data-displayinput="true" value="0" height="100" >
		</section>		
		<p id="warning"> </p> 
		<br>
		<button type="button" class="submitCustomActivity btn btn-primary"> Submit </button> 
	</section> 
</form>
<div>
