<!-- Temporary styling -->
<!-- TODO: move this away -->

<style>

</style>

<form id="custom-activities-form" name="custom-activity"> 
	<header id="head">
		<h3> Create New Custom Activity  </h3>
	</header>
	<section> 
		<label for="title"> Title: </label> <br> 
		<input type="text" name"title" id="title" value=""> <br> 
		<label for="content"> Content: </label> <br> 
		<input type="text" name"content" id="content" value=""> <br> 
		<label for="completion_time"> Completion time: </label> <br> 
		<input type="text" name"completion_time" id="completion_time" value=""> 
		<p id="warning"> </p> 
		<br>
		<button type="button" class="submitCustomActivity btn btn-primary"> Submit </button> 
	</section> 
</form>
