<!-- Temporary styling -->
<!-- TODO: move this away -->
<h4 style='color: #9b59b6;'> Custom Activity List for <%= name %></h4>
<br>
<table>
   <thead>
      <tr>
         <th>Title</th>
         <th>Content</th>
         <th>Completion Time</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td> <%= title %></td>
         <td><%= content %> </td>
         <td><%= completion_time %> </td>
      </tr>
   </tbody>
</table>
</br> 
<a href='/tempo#createCustomActivity' id='add'> Create a Custom Activity </a>