<h3> Create New Custom Activity </h3>
<form id="custom-activities-form" name="custom-activity"> 
	<label for="title"> title: </label>
	<input type="text" name"title" id="title" value="">
	<label for="content"> content: </label>
	<input type="text" name"content" id="content" value="">
	<label for="completion_time"> completion time: </label>
	<input type="text" name"completion_time" id="completion_time" value="">
	<br> <button type="button" class="submitCustomActivity"> Submit </button> 
</form>
