<!-- Temporary styling -->
<!-- TODO: move this away -->


<div class="jumbotron activity">

<form id="custom-activities-form" name="custom-activity"> 
	<header id="head">
		<h3> Edit Custom Activity  </h3>
	</header>
	<section> 
		<label for="title"> Title: </label> <br> 
		<input type="textarea" name"title" id="title" value='<%= title %>'> <br> 
		<label for="content"> Content: </label> <br> <b>
		<textarea type="text" name"content" id="content" value='<%= content %>'> <%= content %></textarea> <br> 
		<label for="completion_time"> Completion time: </label> <br> 
		<section> 
			<input class="knob" data-width="100" data-displayinput="true" value="<%= completion_time%>" height="100" >
		</section>		
		<p id="warning"> </p> 
		<br>
		<button type="button" class="editActivityButton btn btn-primary"> Save </button> 
		<button type="button" class="back-button btn btn-primary"> Back </button> 
	</section> 
</form>
<div>
