<span>
<form>
  username:<br>
  <input type="text" name="username" id="username-login">
  <br>
  password:<br>
  <input type="password" name="password" id="password-login">
</form>
  <button class="login-submit"> login</button>


</span>
<h3 style='color: #e74c3c;'> Welcome Home Owen </h3>
<select id='time-selector'>
    <% _(times).each(function(time) { %> 
        <option value='<%= time.duration %>'><%= time.duration %></option>
    <% }); %>
</select> 
<button class='go-btn'>GO</button>
<a href='activities#interests'> See your interests </a>



<!-- Custom activities -->
<h3 style='color: #27ae60;'> Sidebar View </h3>
<button id="get-custom"> Get Custom Activities</button>

<form id="custom-activities-form" name="custom-activity"> 
	<label for="title"> title: </label>
	<input type="text" name"title" id="title" value="Title">

	<label for="content"> content: </label>
	<input type="text" name"content" id="content" value="content">

	<label for="completion_time"> completion time: </label>
	<input type="text" name"completion_time" id="completition_time" value="completion_time">


</form>
