<span>
<form>
  username:<br>
  <input type="text" name="username" id="username-login">
  <br>
  password:<br>
  <input type="password" name="password" id="password-login">
</form>
  <button class="login-submit"> login</button>


</span>
<h3 style='color: #e74c3c;'> Welcome Home Owen </h3>
<select id='time-selector'>
    <% _(times).each(function(time) { %> 
        <option value='<%= time.duration %>'><%= time.duration %></option>
    <% }); %>
</select> 
<button class='go-btn'>GO</button>
<a href='tempo#interests'> See your interests </a>

