<!-- Temporary styling -->

<div class="home-wrapper">
	<header>
		<h3> Welcome Home <%= name %></h3>
	</header>
	<div class="subtitle">
		<h3> Activity duration </h3>
	</div>
	<section> 
		<input class="knob" data-width="100" data-displayinput="true" value="0" height="100" >
		<div id="btn-wrapper">
			<button class='go-btn'>GO</button>
		</div>
	</section>
	<footer>
		<a href='tempo#interests'>Toggle interests</a>	
		<br>
	</footer>
</div>