<!-- Temporary styling -->

<div class="home-wrapper animated pulse">
	<header>
		<h3> Welcome Home,  <%= name %>!</h3>
	</header>
	<div class="subtitle">
		<h3> How much time do you have?</h3>
	</div>
	<section> 
		<input class="knob" data-width="100" data-displayinput="true" value="0" height="100" >
		<div id="btn-wrapper">
			<button class='go-btn'>GO</button>
		</div>
	</section>
	<div class="interest-wrapper">
	 	<h4> Toggle Interests </h4> 
		<ul>
		<% _.each(interests, function(interest, i) { %> 
			<li>
				<input type=checkbox name= "<%= interest%>"  id="interest-<%= i%>" checked >
				<p> <%= interest %> </p>
			</li>
		<% }); %>
		</ul>
	</div>

</div>
