<h1>Listing activities</h1>

<table id="activities-table">
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Completion time</th>
    <th>Content type</th>
    <th>Link</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Activity</a>