<h3 style='color: #e74c3c;'> Settings Page </h3>
<span>
<form>
  New password:<br>
  <input type="change-password" name="change-password" id="password-change">
</form>
  <button class="change-submit"> Change password </button>
</span>
<br>
<a href='tempo#home'> Go Home</a>