<div class="settingsContainer">
	<h1 class="page-header"> Settings </h1>
	<div class="settingsCol1">
		<div class="settingsModule">
			<header>
				<h3 style='color: #e74c3c;'> Change Password </h3>
			</header>
		    <section>
			    <form>
			      <p> Old Password </p>
			      <input type="change-password" name="change-password" id="password-change">
			      <p> New Password </p>
			      <input type="change-password" name="change-password" id="password-change">
			      <p> Confirm Password </p>
			      <input type="change-password" name="change-password" id="password-change">
			    </form>
			     <button class="change-submit"> Change password </button>
		    </section> 
		    <br>
		</div>	
	</div>

	<div class="settingsCol2">
		<div class="settingInterests">
		    <span>
		    <header>
		    	<h3 style='color: #1abc9c ;'> All Interests </h3>
		        <br>
		    </header>
		    <table class="settingInterestTable">
		        <thead>
		            <tr>
		                <th> </th>
		                <th colspan='3'> </th>
		            </tr>
		        </thead>
		        <tbody>
		        <% _.each(data, function(interest) { %> 
		            <tr>
		                <td>  
		                    <input type=checkbox name= "<%= interest.name%>"  id="interest-<%= interest.index%>" <%= interest.checked%> >
		               	 	<%= interest.name %>
		                </td>
		            </tr>
		            <% }); %>
		        </tbody> 
		    </table> 
		    </br>
		    <footer> 
		    	<button id='submit-interests'> save </button> <br>
		    </footer>
		</div>		
	</div>
</div>